[Unit]
Description={{ intermediate_name }} CFSSL API script

[Service]
Type=forking
ExecStart=/etc/ssl/cfssl/cfssl-{{ intermediate_name| replace (" ", "_")}}.sh
Restart=always

[Install]
WantedBy=multi-user.target
