#!/bin/bash

/bin/nohup /root/go/bin/cfssl serve -port={{ cfssl_port }} -address=0.0.0.0 \
    -db-config=/etc/ssl/cfssl/ca/ocspdb/{{ intermediate_name| replace (" ", "_") }}-sqlite_db.json \
    -ca=/etc/ssl/cfssl/ca/certs/ca/ca-{{ intermediate_name| replace (" ", "_") }}.pem \
    -ca-key=/etc/ssl/cfssl/ca/certs/ca/ca-{{ intermediate_name | replace (" ", "_")}}-key.pem \
    -config=/etc/ssl/cfssl/ca/configs/{{ intermediate_name | replace (" ", "_")}}-config.json \
    -responder=/etc/ssl/cfssl/ca/certs/ocsp/{{ intermediate_name| replace (" ", "_") }}-ocsp.pem\
    -responder-key=/etc/ssl/cfssl/ca/certs/ocsp/{{ intermediate_name| replace (" ", "_") }}-ocsp-key.pem > /var/log/cfssl-{{ intermediate_name| replace (" ", "_") }}.log &
