[Unit]
Description={{ intermediate_name }} OCSP script

[Service]
Type=forking
ExecStart=/etc/ssl/cfssl/ocsp-{{ intermediate_name| replace (" ", "_")}}.sh
#ExecStartPre=/etc/ssl/cfssl/ocsp-{{ intermediate_name | replace (" ", "_")}}-restart.sh
Restart=always

[Install]
WantedBy=multi-user.target
