{
   "CN":"{{ intermediate_name }} - OCSP",
   "key":{
      "algo":"rsa",
      "size":2048
   },
   "names":[
      {
         "C":"{{ country_name }}",
         "L":"{{ locality_name }}",
         "O":"{{ org_name }}",
         "OU":"{{ org_unit_name }}"
      }
   ]
}
