#!/bin/bash

/bin/nohup /root/go/bin/cfssl ocspserve -address=0.0.0.0 -port={{ ocsp_port }} -responses=/tmp/{{ intermediate_name| replace (" ", "_")}}-ocspdump.txt -loglevel=0 > /var/log/ocsp-{{ intermediate_name| replace (" ", "_")}}.log &
