#!/bin/bash
/root/go/bin/cfssl ocsprefresh -db-config /etc/ssl/cfssl/ca/ocspdb/{{ intermediate_name | replace (" ", "_")}}-sqlite_db.json \
    -responder /etc/ssl/cfssl/ca/certs/ocsp/{{ intermediate_name| replace (" ", "_") }}-ocsp.pem \
    -responder-key /etc/ssl/cfssl/ca/certs/ocsp/{{ intermediate_name | replace (" ", "_")}}-ocsp-key.pem \
    -ca /etc/ssl/cfssl/ca/certs/ca/ca-{{ intermediate_name | replace (" ", "_")}}.pem
/root/go/bin/cfssl ocspdump -db-config /etc/ssl/cfssl/ca/ocspdb/{{ intermediate_name | replace (" ", "_")}}-sqlite_db.json> \
   /tmp/{{ intermediate_name | replace (" ", "_")}}-ocspdump.txt

